.feed-item
  section
    h2 CHIN CHIN
    h3 CBD, Melbourne
    h4 Recommended by:
    p Clare Sheldon-Williams
  .feature-img(style = 'background-image: url("https://b.zmtcdn.com/data/pictures/2/16577492/7856cb2fb4a6b94c7efc37a21dd49bb7_featured_v2.jpg")')

.feed-item
  section
    h2 BELLE'S HOT CHICKEN
    h3 Fitzroy, Melbourne
    h4 Recommended by:
    p Otto von Bismarck
  .feature-img(style = 'background-image: url("https://b.zmtcdn.com/data/pictures/2/16585402/c498b010a47a81818827779c00f0a116_featured_v2.jpg")')

.feed-item
  section
    h2 THE TOWN MOUSE
    h3 Carlton, Melbourne
    h4 Recommended by:
    p Many Hipsters
  .feature-img(style = 'background-image: url("https://b.zmtcdn.com/data/pictures/1/16581171/7b0e72dd3f75de27f7fe41dda89a9dfc_featured_v2.jpg")')

.feed-item
  section
    h2 HOST
    h3 Brunswick, Melbourne
    h4 Recommended by:
    p Paul Williams
  .feature-img(style = 'background-image: url("https://b.zmtcdn.com/data/pictures/0/18296310/3b860f173183e7919df867d96f1833e6_featured_v2.jpg")')

.feed-item
  section
    h2 SHUJINKO
    h3 CBD, Melbourne
    h4 Recommended by:
    p Your Mum
  .feature-img(style = 'background-image: url("https://b.zmtcdn.com/data/pictures/9/16713949/dc13f4103497e256ef43d5f381a89b4c_featured_v2.jpg")')
