.login-btn {
  width: 75%;
  background: #4267B2;
  color: white;
  border-radius: 3px;
  margin: 2em auto;
  display: flex;
  align-items: center;
  padding: none;
  border: none;
  outline: none;

  img {
    height: 2em;
    margin-left: .25em;
  }

  p {
    flex: 1;
    padding-left: .5em;
  }
}

.login-btn:hover {
  background: darken(#4267B2, 15%);
}