.home-layout
  header
    img(src = '/assets/logo-white.png')
  main
  nav
    ul
      li.material-icons home
      li.material-icons place
      li.material-icons search
      li.material-icons.add-new +
